{% extends "layout.html" %}

{% block title %}
  BrFAST - Browser Fingerprinting Attribute Selection Tool
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6">
      <h1>Choose a functionality</h1>

      <a type="button" class="btn btn-secondary btn-lg" disabled>Real-time exploration</a>
      <a type="button" class="btn btn-primary btn-lg" href="{{ url_for('trace_configuration') }}">Replay a trace</a>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
  </div>
{% endblock %}
