<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Nampoina Andriamilanto">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />

    <!-- Bootstrap fonts -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.min.css') }}">

    <!-- My own styles -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    <!-- Title -->
    <title>
      {% block title %}
      BrFAST - Exploration of the possibilities
      {% endblock %}
    </title>
  </head>

  <body class="d-flex flex-column h-100">

    <!-- Header -->
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}">BrFAST</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main content -->
    <main class="flex-shrink-0">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {%- for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor -%}
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
      <div class="container">
        <span class="text-muted">
          Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>.
        </span>
      </div>
    </footer>

    <!-- ####################### Import JS libraries ####################### -->
    <!-- JQuery (needed for Bootstrap) -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- Global utility functions -->
    <script type="text/javascript">
      /**
       * An utility function to set the visibility state of an element.
       * @param element The element for which to set the visibility state.
       * @param visibile Whether this element should be visible or not.
       */
      function setVisibleState(element, visible) {
        if (visible) {
          element.addClass('visible');
          element.removeClass('invisible');
        } else {
          element.addClass('invisible');
          element.removeClass('visible');
        }
      }
    </script>

    {% if javascript_parameters %}
    <!-- Parameters -->
    <script type="text/javascript">
      // The precision of the floating point numbers shown
      const FLOAT_PRECISION = {{ javascript_parameters.get('VisualizationParameters', 'float_precision') }};

      // The classes for the progress bars
      const PROGRESS_BAR_CLASSES = [
        {% for progress_bar_class in javascript_parameters.get('WebServer', 'bootstrap_progress_bars').splitlines() %}
          "{{ progress_bar_class }}",
        {% endfor %}
      ];

      // We limit the number of displayed nodes for performance reasons
      const NODES_LIMIT = {{ javascript_parameters.get('VisualizationParameters', 'nodes_limit') }};

      /**
       * The STEP (i.e., how many attribute sets are collected every x
       * seconds), and the collect frequency (i.e., the time in
       * milliseconds after which we collect the next attribute sets)
       */
      const STEP = {{ javascript_parameters.get('VisualizationParameters', 'collected_nodes_step') }};
      const COLLECT_FREQUENCY = {{ javascript_parameters.get('VisualizationParameters', 'collect_frequency') }};

      // The colour of the nodes given their state
      const COLOUR_EXPLORED_NODE = "{{ javascript_parameters.get('NodeColour', 'explored') }}";
      const COLOUR_PRUNED_NODE = "{{ javascript_parameters.get('NodeColour', 'pruned') }}";
      const COLOUR_BEST_SOLUTION = "{{ javascript_parameters.get('NodeColour', 'best_solution') }}";
      const COLOUR_SATISFYING_SENSITIVITY = "{{ javascript_parameters.get('NodeColour', 'satisfying_sensitivity') }}";
      const COLOUR_EMPTY_NODE = "{{ javascript_parameters.get('NodeColour', 'empty_node') }}";
      const COLOUR_DEFAULT = "{{ javascript_parameters.get('NodeColour', 'default') }}";

      // The graphical parameters of the links and the nodes
      const LINK_WIDTH = {{ javascript_parameters.get('VisualizationParameters', 'link_width') }};
      const LINK_OPACITY = {{ javascript_parameters.get('VisualizationParameters', 'link_opacity') }};
      const LINK_COLOUR = "{{ javascript_parameters.get('VisualizationParameters', 'link_colour') }}";
      const NODE_RADIUS = {{ javascript_parameters.get('VisualizationParameters', 'node_radius') }};
      const NODE_COLLISION_RADIUS_MULTIPLICATOR = {{ javascript_parameters.get('VisualizationParameters', 'node_collision_radius_multiplier') }};
    </script>
    {% endif %}

    {% block js_libraries %}
    {% endblock %}
    <!-- ####################### End of JS libraries ####################### -->
  </body>
</html>
