{% extends "layout.html" %}

{% block title %}
  BrFAST - Trace Replay Visualization
{% endblock %}

{% block content %}
  <!-- Top banner information -->
  <div class="row">
    <!-- Parameters -->
    <div class="col margin-top-bottom">
      <div class="card">
        <div class="card-header">
          Parameters
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Parameter</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Selection method</th>
                <td>{{ parameters['method'] }}</td>
              </tr>
              <tr>
                <th scope="row">Sensitivity threshold</th>
                <td>{{ parameters['sensitivity_threshold'] }}</td>
              </tr>
              {% if parameters['method'] == 'FPSelect' %}
                <tr>
                  <th scope="row">Paths explored</th>
                  <td>{{ parameters['explored_paths'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Use pruning methods</th>
                  <td>{{ parameters['pruning'] }}</td>
                </tr>
              {% endif %}
              <tr>
                <th scope="row">Fingerprint dataset</th>
                <td>{{ parameters['dataset'] }}</td>
              </tr>
              <tr>
                <th scope="row">Sensitivity measure</th>
                <td>{{ parameters['sensitivity_measure'] }}</td>
              </tr>
              <tr>
                <th scope="row">Usability measure</th>
                <td>{{ parameters['usability_cost_measure'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End of the parameters information -->

    <!-- Current exploration state -->
    <div class="col margin-top-bottom">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          Exploration state

          <div id="ongoing-exploration-spinner" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>

          <a type="button" class="btn btn-primary invisible" href="{{ url_for('download_trace') }}" role="button" id="download-trace-button">Download the trace</a>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Information</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody id="exploration-state-table">
              <tr>
                <th scope="row">Explored nodes</th>
                <td id="explored-nodes">0</td>
              </tr>
              <tr>
                <th scope="row">Best solution id</th>
                <td><a id="best-solution">...</a></td>
              </tr>
              <tr>
                <th scope="row">Best sensitivity</th>
                <td id="best-sensitivity">...</td>
              </tr>
              <tr>
                <th scope="row">Best usability cost</th>
                <td id="best-usability-cost">...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End of the current exploration state -->
  </div>
  <!-- End of the top banner information -->

  <!-- Visualization of the usability gains -->
  <div class="row">
    <!-- The relative cost of the best solution -->
    <div class="col-md-8 margin-top-bottom">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          Relative cost of the best solution compared to the maximum

          <span data-bs-toggle="tooltip" data-bs-placement="top" title="This is the relative cost of the best solution according to the maximum cost when using the candidate attributes (i.e., all of the available attributes).">
            <i class="bi bi-question-circle-fill" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="card-body" id="usability-cost-progress-bars">
          <div>
            Usability cost
            <div class="progress">
              <div class="progress-bar bg" role="progressbar" id="progress-usability-cost" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of the relative cost of the best solution -->
    <!-- Legend of the visualization graph -->
    <div class="col-md-4 margin-top-bottom">
      <div class="card">
        <div class="card-header">
          Graph legend
        </div>
        <div class="card-body">
          <p>
            <i class="bi bi-circle-fill" style="color: cyan;"></i>
            Starting empty set
          </p>
          <p>
            <i class="bi bi-circle-fill" style="color: blue;"></i>
            Explored attribute set
          </p>
          <p>
            <i class="bi bi-circle-fill" style="color: orange;"></i>
            Pruned attribute set
          </p>
          <p>
            <i class="bi bi-circle-fill" style="color: green;"></i>
            Set satisfying the sensitivity threshold
          </p>
          <p>
            <i class="bi bi-circle-fill" style="color: red;"></i>
            The best solution
          </p>
        </div>
      </div>
    </div>
    <!-- End of the legend of the visualization graph -->
  </div>
  <!-- End of the visualization of the usability gains -->

  <!-- Visualization of the explored lattice -->
  <div class="row">
    <div class="col margin-top-bottom">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          Graph visualization

          <span data-bs-toggle="tooltip" data-bs-placement="top" title="Wait for the graph to stabilize, then you can zoom in/out and move the nodes around for a better view.">
            <i class="bi bi-question-circle-fill" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="card-body">
          <svg width="600" height="400" id="graph-container"></svg>
        </div>
      </div>
    </div>
  </div>
  <!-- End of the visualization of the explored lattice -->
{% endblock %}


{% block js_libraries %}
  <!-- D3.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.6.2/d3.min.js"></script>

  <!-- JS script for the dynamic visualization of the lattice -->
  <script type="text/javascript" src="{{ url_for('static', filename='dynamic-visualization.js') }}"></script>
{% endblock %}
