/* CSS styles needed for the sticky footer and the navbar. */
main > .container {
  padding: 60px 15px 60px;
}

/* Separate the columns with a padding of 10px */
.col {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Center the text of the footer (license) */
footer {
  text-align: center;
}
